.register-form {
    position: relative;

    width: 380px;
    height: 460px;
    
    left:50%;
    transform: translate(-50%);
    margin-top: 20px;
    margin-bottom: 80px;
}

button {
    position: relative;    
    left:50%;
    transform: translate(-50%);
}