 <!-- Dropdown Trigger -->
 
<a class="dropdown-button btn-floating waves-effect waves-light" (click)="showContent()"><i class="material-icons">add</i></a>
<!-- Dropdown Structure -->
<ul *ngIf="isVisible" class="collection">
  <li class="collection-item"><a class="badge" href="#!">oasdasdasdne</a></li>
  <li class="collection-item"><a class="badge" href="#!">tasdasdaswo</a></li>
  <li class="collection-item"><a class="badge" href="#!">thdasdasdaree</a></li>
  <li class="collection-item"><a class="badge" href="#!">fodsadasdaur</a></li>
  <li class="collection-item"><a class="badge" href="#!">fdasdasdasdasdive</a></li>
  <li class="collection-item"><a class="badge" href="#!">siasdasdasdasdsdx</a></li>
</ul>