<pre>
    You may ask what "AsyncSound" stands for. 

    It really is something only a music-person would understand. It's a pretty simple conclusion our team came to.

    In your life, you go through different kind of situations. You know... some of them are joyful, others - not so much. For every situation there is an emotion. 
    Now, I don't understand those who simply do not cherish music, because the right music makes every moment of happiness even happier, heals your soul in a moment of exaustion or depression... or whatever. With the right song you can capture a moment forever, with the right song you can forget a moment you want (or at least blur it in your head). And which is that "right song"? It's the song that works for you. The song you just know you want to listen to. 

    AsyncSound is about all of the tracks you would want to have fast access to in some particular moment. This is your music and whenever you feel like listening to a song or some of your custom playlists (or the ones we create) you can easily find them here.

    And since I'm not sure what else we're about to nakodim...That's it. For now.
</pre>