div.main {
	padding: 10px;
	border-color: rgba(0,0,0,.5);
    background-color: rgba(243, 243, 243, 0.15);
}

.parallax-container {
	padding: 65px;
	background-image: url("/images/background.jpg");
	background-repeat: repeat-y;
}