<nav>
    <div class="grey darken-4 nav-wrapper">
        <a [routerLink]="['/home']">
            <img src="https://async-sound-server.herokuapp.com/static/images/logo.png" class="brand-logo">
        </a>
        <a class="btn dropdown-button right hide-on-large-only" data-activates="mobile"><i class="material-icons">menu</i></a>
        <ul id="mobile" class="dropdown-content">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/about']">About</a></li>
            <li *ngIf="isUserLogged"><a [routerLink]="['/profile', currentUser.username]">Profile</a></li>
            <li *ngIf="isUserAdmin"><a [routerLink]="['/admin']">Admin Panel</a></li>
            <li><a [routerLink]="['/songs']">Songs</a></li>
            <li><a [routerLink]="['/playlists']">Playlists</a></li>
            <li *ngIf="!isUserLogged"><a [routerLink]="['register']">Register</a></li>
            <li *ngIf="!isUserLogged"><a [routerLink]="['login']">Login</a></li>
            <li *ngIf="isUserLogged" (click)="logout()"><a>Logout</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/about']">About</a></li>
            <li *ngIf="isUserLogged"><a [routerLink]="['/profile', currentUser.username]">Profile</a></li>
            <li *ngIf="isUserAdmin"><a [routerLink]="['/admin']">Admin Panel</a></li>
            <li><a [routerLink]="['/songs']">Songs</a></li>
            <li><a [routerLink]="['/playlists']">Playlists</a></li>
            <li *ngIf="!isUserLogged"><a [routerLink]="['register']">Register</a></li>
            <li *ngIf="!isUserLogged"><a [routerLink]="['login']">Login</a></li>
            <li *ngIf="isUserLogged" (click)="logout()"><a>Logout</a></li>
        </ul>
    </div>
    <simple-notifications [options]="options"></simple-notifications>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>