<nav>
    <div class="grey darken-4 nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/about']">About</a></li>
            <li *ngIf="currentUser"><a [routerLink]="['/profile']">Profile</a></li>
            <li><a [routerLink]="['/playlists']">Playlists</a></li>
            <li><a [routerLink]="['/charts']">Charts</a></li>
            <li *ngIf="!currentUser"><a [routerLink]="['register']">Register</a></li>
            <li *ngIf="!currentUser"><a [routerLink]="['login']">Login</a></li>
            <li *ngIf="currentUser" (click)="logout()"><a>Logout</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<app-footer></app-footer>

