<h1>
    {{title}}
</h1>
<ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a routerLink="/playlists">Playlists (Link not working)</a></li>
    <li><a routerLink="/charts">Charts (Link not working)</a></li>
    <li><a routerLink="/login">Login (Link not working)</a></li>
    <li><a routerLink="/register">Register (Link not working)</a></li>
</ul>
<div>
    <router-outlet></router-outlet>
</div>