<div>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container main center">
                <br>
                <br>
                <img class="circle responsive-img" [src]="userAvatarUrl" alt="profile picture">
                <h1 class="header center teal-text text-darken-4">{{currentUser.username}}</h1>
                <p>Full Name: {{currentUser.firstname}} {{currentUser.lastname}}</p>
                <h5 class="header col s12 light">welcome back!</h5>
                <br>
                <br>
            </div>
        </div>
    </div>
    <nav class="nav-extended teal darken-4">
        <div class="nav-wrapper">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="#test1">Create playlist</a></li>
                <li class="tab"><a href="#test2">My playlists</a></li>
                <!--<li class="tab disabled"><a href="#test3">Disabled Tab</a></li>-->
                <li class="tab"><a href="#test4">Edit information</a></li>
            </ul>
        </div>
    </nav>
    <div id="test1" class="col s12">
        <app-create-playlist></app-create-playlist>
    </div>
    <div id="test2" class="col s12">
        <div class="container main s12 center">
            <div app-detail-playlist *ngFor="let playlist of playlists; let i = index" [playlist]="playlist" class="row" data-offset="80">
            </div>
        </div>
    </div>
    <!--<div id="test3" class="col s12">Test 3</div>-->
    <div id="test4" class="col s12">Test 4</div>
</div>