img {
	width: 160px;
	opacity: 0.9;
}

div.main {
	padding: 10px;
	height: 470px;
	border-color: rgba(0,0,0,.5);
    background-color: rgba(243, 243, 243, 0.15);
}

.parallax-container {
	background-image: url("/images/background.jpg");
}