<div>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container main center">
                <br>
                <br>
                <img class="circle responsive-img" [src]="userAvatarUrl" alt="profile picture">
                <h1 class="header center teal-text text-darken-4">{{currentUser.username}}</h1>
                <p>Full Name: {{currentUser.firstname}} {{currentUser.lastname}}</p>
                <h5 class="header col s12 light">welcome back!</h5>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>