<div id="index-banner" class="parallax-container">
    <div class="parallax"><img src="/images/front.jpg" alt="Unsplashed background img 1" id="blur-section" class="home"></div>
  </div>
  <div class="container">
    <div class="section" [blur-background]="backgroundFilter">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Whether you’re looking for answers, would like to solve a problem, or just want to let us know how we did, you can write to us. We’ll help you resolve your issues quickly and easily, getting you back to more important things, like listening to your new favourite song.</p>
          <p class="brown-text text-lighten-3">We will surely answer your mail in 30 minutes at most. Our e-mail can be found below.</p>
          <p class="text-lighten-3">async.sound@mail.com</p>
        </div>
      </div>

    </div>
  </div>
<div>
