<div class="register-form row">
    <form (ngSubmit)="createPlaylist()">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">queue_music</i>
                <input type="text" class="form-control" id="name" required [(ngModel)]="model" name="name">
                <label for="name">Playlist title:</label>
            </div>
            <div class="input-field col">
                <button class="btn waves-effect waves-light form-group" type="submit" name="action">Create playlist
            </button>
            </div>
        </div>
    </form>
</div>